* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #e3e6f3;
  height: 80px;
  align-items: center;
  padding: 0 70px;
  border-bottom: solid 2px white;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.nav-list {
  display: flex;
}
.nav-item {
  list-style-type: none;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
}
.nav-item a {
  text-decoration: none;
  color: #1a1a1a;
}
.nav-item a:hover{
  color: #088178;
  text-decoration: underline;
  cursor: pointer;
}

/* Section1 Style */
.section1 {
  background-image: url("/images/hero4.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.text1 {
  position: absolute;
  top: 100px;
  left: 100px;
  margin: 15px;
}
.text1 h3 {
  color: rgb(248, 248, 248);
  font-size: 40px;
}
.text1 h1 {
  color: #222;
  font-size: 70px;
}
.text1 h2 {
  color: #088178;
  font-size: 70px;
  margin-bottom: 20px;
}
.text1 button {
  background-image: url("/images/button.png");
  width: 200px;
  height: 50px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  color: #088178;
  font-size: 20px;
  margin-top: 20px;
}
.text1 p {
  color: #465b52;
  font-size: 16px;
}
/* features Style */
#features {
  display: flex;
  height: 300px;
  justify-content: space-between;
  height: 300px;
  margin: 20px;
}
.features-box {
  border: 1px solid #cce7d0;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  height: 200px;
  margin-top: 45px;
}
.features-box p {
  margin: 15px auto;
  height: 30px;
  width: 100px;
  padding-top: 5px;
  font-size: 14px;
  border-radius: 5px;
  line-height: 1.5;
  font-weight: 700;
  color: #088178;
}
#features .features-box:nth-child(1) p {
  background-color: #fddde4;
}
#features .features-box:nth-child(2) p {
  background-color: #cdebbc;
}
#features .features-box:nth-child(3) p {
  background-color: #d1e8f2;
}
#features .features-box:nth-child(4) p {
  background-color: #cdd4f8;
}
#features .features-box:nth-child(5) p {
  background-color: #f6dbf6;
}
#features .features-box:nth-child(6) p {
  background-color: #fff2e5;
}
#features .features-box:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/*collection1 style*/
.collection1 h1 {
  text-align: center;
  font-size: 50px;
}
.collection1 p {
  text-align: center;
  padding: 20px;
}
.product-collection1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-cart {
  width: 280px;
  margin: 20px 30px;
  border: 1px solid #ebebeb;
  border-radius: 25px;
  height: 400px;
  position: relative;
}
.product-cart img {
  width: 100%;
  padding: 10px;
  border-radius: 40px;
}
.product-cart span {
  margin-left: 10px;
  color: #969696;
}
.product-cart h4 {
  margin: 10px;
}
.star {
  color: #e6ae2c;
  margin-left: 10px;
  line-height: 1;
}
.price {
  color: #088178;
  padding: 3px 0;
}
.cart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 22px;
  background-color: #c7e9e75e;
  border-radius: 50%;
  padding: 10px 12px;
  color: #088178;
}
.product-cart:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/*Banner section*/
.banner {
  height: 40vh;
  background-image: url("/images/banner/b2.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 40px 0;
}
.banner button {
  background-color: white;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
}
.banner button:hover {
  background-color: #088178;
  transition: 0.2s;
}
.banner h1 {
  color: white;
}
.banner h2 {
  color: #eaebf0;
  margin-bottom: 30px;
}
/*New Arrivals is Completely the same as collection 1 style*/
/*multiple-banner section*/
.multi-banner {
  margin: 0 60px;
}
.big-banner {
  display: flex;
  justify-content: center;
  color: white;
}
.big-banner1 {
  background-image: url("/images/banner/b17.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  line-height: 1.5;
  min-width: 600px;
  height: 300px;
  margin: 15px;
}
.multi-banner button {
  width: 100px;
}
.big-banner2 {
  display: flex;
  background-image: url("images/banner/b10.jpg");
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  line-height: 1.5;
  min-width: 600px;
  height: 300px;
  margin: 15px;
}
.big-banner h2 {
  font-size: 46px;
  font-weight: bold;
}
.big-banner h4 {
  font-size: 20px;
}
.big-banner button {
  padding: 10px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  margin-top: 15px;
  font-size: 16px;
}
.big-banner button:hover {
  background-color: #088178;
  border: none;
  transition: 0.4s ease;
}
.small-banner {
  display: flex;
  justify-content: center;
}
.small-banner1 {
  background-image: url(images/banner/b7.jpg);
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 390px;

  padding: 25px;
  margin: 15px;
  display: flex;
flex-direction: column;
justify-content: center;
}
.small-banner1 h2{
  color: white;
  line-height:2;
  font-size: 25px;
}
.small-banner1 h5{
  color:#771818 ;

} 
.small-banner2 {
  background-image: url(images/banner/b4.jpg);
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 390px;
  padding: 25px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.small-banner2 h2{
  color: white;
  line-height:2;
  font-size: 25px;
  
}
.small-banner2 h5{
  color: #771818;
}
.small-banner3 {
  background-image: url(images/banner/b18.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 390px;
  padding: 25px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.small-banner3 h2{
  color: white;
  line-height:2;
  font-size: 25px;
}
.small-banner3 h5{
  color: #771818;
}
/*Newsletters section*/
.Newsletters{
  height: 25vh;
  width: 100%;
  margin-top: 30px;
  background-image: url(images/banner/b14.png);
  background-position: left;
  background-repeat: no-repeat;
  background-color: #041e42;
  display: flex;
  justify-content: space-between;
  padding: 70px;
  align-items: center;
 
}
.newsletterinfo{
  
  display: flex;
  flex-direction: column;
 justify-content: center;
}
.newsletterinfo h2{
  color: white;
  line-height: 2;
  font-size: 30px;
 
}
.newsletterinfo h5{
line-height: 2;
color: rgb(151, 151, 151);
font-size: 17px;
}
.newsletterinfo h5 span{
  color: rgb(216, 182, 29);
}
.form{
  background-color: red;
  height: 50px;
  display: flex;
  width: 400px;
  border-radius: 20px;

 
}
.form button{
  background-color: #088178;
  color: white;
  border: none;
  width: 120px;
  font-size: 17px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
 
  
}
#emailaddress{
  height: 50px;
  width: 350px;
  background-color: #d1d0d0;
  border-radius: 6px 0 0 6px;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 20px;
}

/*Footer section*/

.footer{
  display: flex;
  padding: 75px;
  justify-content: space-between;
  background-color: #ececec;
}
.contact{
  color: rgb(109, 109, 109);
  line-height: 2;

}
.socials i{
  color: #6d6d6d;
 
}
.about{
  display: flex;
  flex-direction: column;
  line-height: 2;
 
}
.about a{
  text-decoration: none;
  color:  rgb(109, 109, 109);
}
.Myaccount{
  display: flex;
  flex-direction: column;
  line-height: 2;
}
.Myaccount a{
  text-decoration: none;
  color: rgb(109, 109, 109);
 
}
.install{
  display: flex;
  flex-direction: column;
  line-height: 2;

}
.install a{
  text-decoration: none;
  color:  rgb(109, 109, 109);
 
}
.pay img{
  border: 1px solid #08817969;
  border-radius: 7px;
}